beautifulsoup4
fastapi
mistralai
protobuf
pydantic_settings
pymongo
pysafebrowsing
python-dotenv
qdrant_client
Requests
sentence_transformers
starlette
uvicorn
python-multipart
pysafebrowsing
google-generativeai